<h1>Showing Events Near <%= params[:q] %></h1>

	<% @events.each do |event| %>
	
	<strong>Name:</strong> <%= event[:name] %> <br>
	<strong>Address:</strong> <%= event[:event_location] %> <br>
	<strong>Description:</strong> <%= event[:description] %> <br>
	<strong>Latitude:</strong> <%= event[:event_latitude] %> <br>
	<strong>Longitude:</strong> <%= event[:event_longitude] %> <br>
	<br>
<% end %>



